<ul>
    <app-navlink [path]="PATH.HOME" [icon]="'bi-house'" [label]="'Accueil'" (onLinkClick)='onClick($event)'></app-navlink>
    <app-navlink [path]="PATH.ACCOUNT_DASHBOARD" [icon]="'bi-grid'" [label]="'Tableau de bord'" (onLinkClick)='onClick($event)'></app-navlink>
    <app-navlink [path]="PATH.ACCOUNT_STATEMENTS" [icon]="'bi-chat-dots'" [label]="'Affirmations'" (onLinkClick)='onClick($event)'></app-navlink>
    <app-navlink [path]="PATH.ACCOUNT_STATEMENTS_ARCHIVED" [icon]="'bi-archive'" [label]="'Affirmations archivées'" (onLinkClick)='onClick($event)'></app-navlink>
</ul>