<div
  class="py-6"
  [ngClass]="{
    'max-w-6xl mx-auto': !authService.isAuthenticated(),
    'lg:mt-12': authService.isAuthenticated()
  }"
>
  <div class="p-8 md:p-16">
    <h1 class="text-3xl md:text-4xl font-extrabold mb-2">
      Conditions Générales d'Utilisation
    </h1>
    <p class="font-light text-md">Dernière mise à jour : 30/12/2024</p>

    <h2 class="text-xl md:text-2xl font-bold mt-12 mb-4">Introduction</h2>
    <p>
      Les présentes Conditions Générales d'Utilisation (ci-après "CGU")
      décrivent les termes et conditions applicables à l'utilisation de
      l'application "jtelavaisdit" (ci-après "l'Application"). En accédant à
      l'Application, vous acceptez de vous conformer aux présentes CGU.
    </p>

    <!-- Description des services -->
    <h2 class="text-xl md:text-2xl font-bold mt-12 mb-4">
      Description des services
    </h2>
    <p>L'Application "jtelavaisdit" permet aux utilisateurs :</p>
    <ul class="mt-4">
      <li class="list-disc ml-6">
        de créer des affirmations et de les associer à une date de révélation,
      </li>
      <li class="list-disc ml-6">
        de partager ces affirmations avec d'autres utilisateurs,
      </li>
      <li class="list-disc ml-6">
        d'accéder à un historique des affirmations créées et révélées.
      </li>
    </ul>
    <p class="mt-4">
      Ces services sont accessibles via un compte personnel créé sur
      l'Application
    </p>

    <!-- Accès à l'application -->
    <h2 class="text-xl md:text-2xl font-bold mt-12 mb-4">
      Responsabilité de l'utilisateur
    </h2>
    <h3 class="text-lg font-medium my-4 mt-8">Création de compte</h3>
    <p>
      Pour utiliser l'Application, l'utilisateur doit créer un compte en
      fournissant des informations exactes et complètes, notamment :
    </p>
    <ul class="mt-4">
      <li class="list-disc ml-6">votre nom et prénom,</li>
      <li class="list-disc ml-6">une adresse email valide,</li>
      <li class="list-disc ml-6">un mot de passe sécurisé.</li>
    </ul>
    <p class="mt-4">
      Pour pouvoir créer un compte, l'utilisateur doit également accepter les
      présentes CGU.
    </p>

    <h3 class="text-lg font-medium mt-8 my-4">
      Responsabilité de l'utilisateur
    </h3>
    <p>L'utilisateur s'engage à :</p>
    <ul class="mt-4">
      <li class="list-disc ml-6">
        maintenir la confidentialité de ses identifiants de connexion,
      </li>
      <li class="list-disc ml-6">
        informer immédiatement l'éditeur de toute utilisation non autorisée de
        son compte,
      </li>
      <li class="list-disc ml-6">
        ne pas tenter de nuire au bon fonctionnement de l'Application.
      </li>
    </ul>
    <p class="mt-4">
      L'éditeur ne saurait être tenu responsable des dommages résultant de
      l'utilisation non autorisée du compte d'un utilisateur.
    </p>

    <!-- Utilisation permise et interdite -->
    <h2 class="text-xl md:text-2xl font-bold mt-12 mb-4">
      Utilisation permise et interdite
    </h2>
    <h3 class="text-lg font-medium mt-8 my-4">Utilisation autorisée</h3>
    <p>
      L'Application doit être utilisée conformément à sa destination, dans le
      respect des lois et réglementations en vigueur.
    </p>
    <h3 class="text-lg font-medium mt-8 my-4">Utilisation interdite</h3>
    <p>Il est strictement interdit de :</p>
    <ul class="mt-4">
      <li class="list-disc ml-6">
        publier du contenu illégal, diffamatoire, ou portant atteinte aux droits
        d'autrui,
      </li>
      <li class="list-disc ml-6">
        tenter de contourner les mesures de sécurité de l'Application,
      </li>
      <li class="list-disc ml-6">
        utiliser l'Application à des fins commerciales non autorisées.
      </li>
    </ul>
    <p class="mt-4">
      En cas de non-respect, l'éditeur se réserve le droit de suspendre ou
      supprimer le compte de l'utilisateur.
    </p>

    <!-- Propriété intellectuelle -->
    <h2 class="text-xl md:text-2xl font-bold mt-12 mb-4">
      Propriété intellectuelle
    </h2>
    <p>
      Tous les éléments de l'Application, y compris les textes, graphismes,
      logos, et interfaces, sont protégés par le droit d'auteur et restent la
      propriété exclusive de l'éditeur. L'utilisateur ne peut reproduire,
      modifier ou diffuser ces éléments sans l'autorisation expresse de
      l'éditeur. Une utilisation à des fins personnelles est toutefois permise.
    </p>

    <!-- Limitation de responsabilité -->
    <h2 class="text-xl md:text-2xl font-bold mt-12 mb-4">
      Limitation de responsabilité
    </h2>
    <h3 class="text-lg font-medium mt-8 my-4">Exactitude des informations</h3>
    <p>
      L'éditeur met tout en œuvre pour assurer l'exactitude des informations
      présentes sur l'Application, mais ne peut garantir leur exhaustivité ou
      leur mise à jour.
    </p>
    <h3 class="text-lg font-medium mt-8 my-4">Disponibilité</h3>
    <p>
      L'éditeur ne saurait être tenu responsable en cas d'indisponibilité
      temporaire ou permanente de l'Application.
    </p>
    <h3 class="text-lg font-medium mt-8 my-4">Contenu utilisateur</h3>
    <p>
      L'éditeur n'est pas responsable des contenus publiés par les utilisateurs,
      mais se réserve le droit de les supprimer en cas de non-respect des CGU.
    </p>

    <!-- Protection des données personnelles -->
    <h2 class="text-xl md:text-2xl font-bold mt-12 mb-4">
      Protection des données personnelles
    </h2>
    <p>
      Les informations relatives au traitement des données personnelles des
      utilisateurs sont précisées dans la
      <a class="text-primary" [routerLink]="['/', PATH.PRIVACY]"
        >Politique de Confidentialité</a
      >.
    </p>

    <!-- Droit applicable et réglement des litiges -->
    <h2 class="text-xl md:text-2xl font-bold mt-12 mb-4">
      Droit applicable et réglement des litiges
    </h2>
    <p>
      Les présentes CGU sont régies par le droit français. En cas de litige, une
      tentative de résolution amiable sera privilégiée avant toute action
      judiciaire.
    </p>

    <!-- Modification des CGU -->
    <h2 class="text-xl md:text-2xl font-bold mt-12 mb-4">
      Modification des CGU
    </h2>
    <p>
      L'éditeur se réserve le droit de modifier les présentes CGU à tout moment.
      Les modifications prendront effet dès leur publication sur l'Application.
    </p>

    <!-- Contact -->
    <h2 class="text-xl md:text-2xl font-bold mt-12 mb-4">Contact</h2>
    <p>
      Pour toute question relative aux CGU, contactez-nous à l'adresse suivante
      : <a class="text-primary" [href]="'mailto:' + email">{{ email }}</a
      >.
    </p>
  </div>
</div>
